In [25]:
import os
import pandas as pd
import numpy as np
import json

In [26]:
cur_path = os.path.abspath(os.path.curdir)
parent_path = os.path.join(cur_path, '..')
data_path = os.path.join(parent_path, 'data')
facebook_path = os.path.join(data_path, 'FACEBOOK')

In [27]:
json_file_list = os.listdir(facebook_path)
print(len(json_file_list))
facebook_data_path = os.path.join(facebook_path, json_file_list[0])
print(facebook_data_path)

8002
c:\Users\aqs45\OneDrive\바탕 화면\repo\Transformers\Utils\..\data\FACEBOOK\FACEBOOK_101_01.json

In [35]:
with open(facebook_data_path, 'r', encoding='UTF-8') as j:
    contents = json.loads(j.read())

In [48]:
contents.keys()

dict_keys(['dataset', 'licenses', 'info'])

In [53]:
contents['info'][0].keys()

dict_keys(['id', 'filename', 'title', 'mediatype', 'medianame', 'category', 'date', 'size', 'annotations'])

In [74]:
contents['info'][0]['annotations']['lines'][0]

{'id': 1,
 'text': '1 : 언니 명랑 핫도그 먹어 봤어?',
 'norm_text': '언니 명랑 핫도그 먹어 봤어?',
 'speaker': {'id': '1번', 'sex': '여성', 'age': '20대'},
 'speechAct': '(지시) 질문하기',
 'morpheme': '언니/NNG+명랑/NNG+핫도그/NNG+먹/VV+어/EC+봤/VX+EP+어/EF'}

In [71]:
print(len(contents['info'][0]['annotations']['lines']))

24

In [78]:
for i in range(len(contents['info'][0]['annotations']['lines'])):
    print(contents['info'][0]['annotations']['lines'][i]['id'])
    print(contents['info'][0]['annotations']['lines'][i]['norm_text'])
    print(contents['info'][0]['annotations']['lines'][i]['speaker']['sex'])
    print(contents['info'][0]['annotations']['lines'][i]['speaker']['age'])

1
언니 명랑 핫도그 먹어 봤어?
여성
20대
2
웅 먹은 지 한참 됐어
여성
20대
3
나 오늘 먹었는데 진짜 존맛 ㅜ
여성
20대
4
나도 오랜만에 먹고 싶다
여성
20대
5
어디서?
여성
20대
6
나 포장해 와서 집에서 먹었음!
여성
20대
7
누구랑 먹었어
여성
20대
8
일 안 했어?
여성
20대
9
나 퇴근하고 포장해 왔지!
여성
20대
10
키키 요새 없어진 거 같던데 나도 찾아봐야지
여성
20대
11
키키 아 진짜?
여성
20대
12
언니 지금 논산에 있나?
여성
20대
13
아니
여성
20대
14
나 대전 온 지 한참이야 ㅡㅡ!
여성
20대
15
대전에는 명량핫도그 집 많지 않아?
여성
20대
16
근데 요새 좀 없어지는 추세 아니었음 ?
여성
20대
17
키키 아 진짜?
여성
20대
18
여기 지금 떡볶이 출시했잖아 난리야!
여성
20대
19
떡볶이도 한다고 ?
여성
20대
20
떡볶이도 먹음?
여성
20대
21
아니
여성
20대
22
떡볶이는 역시 엽떡이지~
여성
20대
23
키키 나도 먹어봐야지
여성
20대
24
나 씻고 온다
여성
20대

In [85]:
data = []
for i in range(len(contents['info'][0]['annotations']['lines'])):
    data.append({'id': contents['info'][0]['annotations']['lines'][i]['id'],
                'text': contents['info'][0]['annotations']['lines'][i]['norm_text'],
                 'sex': contents['info'][0]['annotations']['lines'][i]['speaker']['sex'],
                  'age': contents['info'][0]['annotations']['lines'][i]['speaker']['age'],
                  'class': contents['info'][0]['annotations']['lines'][i]['speaker']['id']})
df = pd.DataFrame(data)
df

    id                      text sex  age class
0    1          언니 명랑 핫도그 먹어 봤어?  여성  20대    1번
1    2              웅 먹은 지 한참 됐어  여성  20대    2번
2    3         나 오늘 먹었는데 진짜 존맛 ㅜ  여성  20대    1번
3    4             나도 오랜만에 먹고 싶다  여성  20대    2번
4    5                      어디서?  여성  20대    2번
5    6         나 포장해 와서 집에서 먹었음!  여성  20대    1번
6    7                   누구랑 먹었어  여성  20대    2번
7    8                   일 안 했어?  여성  20대    2번
8    9            나 퇴근하고 포장해 왔지!  여성  20대    1번
9   10  키키 요새 없어진 거 같던데 나도 찾아봐야지  여성  20대    2번
10  11                  키키 아 진짜?  여성  20대    1번
11  12             언니 지금 논산에 있나?  여성  20대    1번
12  13                        아니  여성  20대    2번
13  14         나 대전 온 지 한참이야 ㅡㅡ!  여성  20대    2번
14  15       대전에는 명량핫도그 집 많지 않아?  여성  20대    1번
15  16    근데 요새 좀 없어지는 추세 아니었음 ?  여성  20대    2번
16  17                  키키 아 진짜?  여성  20대    1번
17  18      여기 지금 떡볶이 출시했잖아 난리야!  여성  20대    1번
18  19                떡볶이도 한다고 ?  여성  20대    2번
19  20                  떡볶이도 먹음?  여성  20대    2번
20  21                        아니  여성  20대    1번
21  22             떡볶이는 역시 엽떡이지~  여성  20대    1번
22  23               키키 나도 먹어봐야지  여성  20대    2번
23  24                   나 씻고 온다  여성  20대    2번

In [90]:
df['request'] = np.where(df['class'] == '1번', df['text'])
df['response'] = np.where(df['class'] == '2번', df['text'])

ValueError: Length of values (2) does not match length of index (24)